@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Piedra&display=swap');

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.container{
  height: 100vh;
  background-color: #e8e4e1;
  display: flex;
  flex-direction: column;
}
.top-bar{
  height: 20vh;
  margin: 10px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.winner{
  margin: 10px;
  min-width: 50px;
  min-height: 50px;
  font-size: 40px;
  font-family: Lato;
}
.start-button {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius:6px;
  border: 3px dotted black;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family: Lato;
  font-size:18px;
  font-weight:bold;
  padding:12px 46px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  box-sizing: content-box;
  min-width: 150px;
  outline: none;
}

.middle{
  height: 60vh;
  margin: 10px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-bar{
  margin: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.showPlayer{
  min-width: 50px;
  min-height: 50px;
  font-size: 35px;
  font-family: Lato;
  text-align: center;
  cursor: default;
}
#playerOneMarker{
  color: #7c3c21;
  font-size: 40px;
  cursor: default;
}
#playerTwoMarker{
  color: #7c3c21;
  font-size: 40px;
  cursor: default;
}
#board{
  background-color:  #f9c49a;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box{
  color: #ec823a;
  border: 3px dotted black;
  font-size: 100px;
  font-family: Piedra;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 165px;
  min-height: 165px;
}
.box:hover{
  background-color: #ecbd3a;
}

        
